<?xml version="1.0" encoding="UTF-8"?> 
<phpunit bootstrap="./unitTests/bootstrap.php"
    backupGlobals="true"
    colors="true" 
    convertErrorsToExceptions="true" 
    convertNoticesToExceptions="true" 
    convertWarningsToExceptions="true" 
    processIsolation="false" 
    verbose="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false">
    <php>
        <ini name="memory_limit" value="2048M"/>
    </php>
    <testsuite name="Complex Unit Test Suite">
        <directory suffix="Test.php">./unitTests/classes</directory>
    </testsuite>

    <coverage includeUncoveredFiles="true" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">classes/src</directory>
        </include>
    </coverage>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-clover" target="coverage/phpunit/clover.xml" showUncoveredFiles="true"/>
        <log type="coverage-html" target="coverage/phpunit/html" lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit> 
